@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: "Averta Std";
  src: url("/fonts/AvertaStd-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Averta Std";
  src: url("/fonts/AvertaStd-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Averta Std";
  src: url("/fonts/AvertaStd-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Averta Std", sans-serif;
}

p {
  margin: 0;
}

.w-4 {
  width: 1rem;
}

.h-4 {
  height: 1rem;
}

.w-5 {
  width: 1.25rem;
}

.h-5 {
  height: 1.25rem;
}

.w-6 {
  width: 1.5rem;
}

.h-6 {
  height: 1.5rem;
}

.btn-unstyled {
  color: $grey-4;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.rotate-180 {
  transform: rotate(180deg);
}

.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

img {
  width: 100%;
  height: auto;
}

svg {
  flex-shrink: 0;
}
